{% extends 'index.html' %}

{% block content1 %}
    <div class="container">
        <h2>Content Disarm and Reconstruction</h2>
        <p>Computer security technology for removing potentially malicious code from files</p>
        <div class="card" style="width:400px">
            <img class="card-img-top portrait" src="IMG_1569582275945_1569596198139.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Nguyễn Ngọc Sơn</h4>
                <p class="card-text">Mã sinh viên: AT130446</p>
                <p class="card-text">Lớp: AT13D</p>
            </div>
        </div>
    </div>
{% endblock %}