{% extends 'index.html' %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0"
                   bgcolor="white">
                <thead>
                <tr>
                    <th class="col-sm-9">Tên</th>
                    <th class="col-sm-3"></th>
                </tr>
                </thead>
                <tbody>
                <!-- if and for loop -->
                {% if files %}
                    {% for file in files %}
                        <tr>
                            <!-- filename and owner -->
                            <td>{{ file.name }}</td>
                            <td class="align-content-center d-flex justify-content-center">
                                {% if file.pdf %}
                                    <a href="{{ file.pdf.url }}" download class="btn btn-outline-success btn-sm m-1">
                                        Tải xuống</a>
                                {% else %}
                                    <span class="text-muted">Trống</span>
                                {% endif %}
                                {% if file.pdf %}
                                    <a href="{% url 'delete' file.name %}" class="btn btn-outline-danger btn-sm m-1">Xóa</a>
                                {% endif %}
                            </td>
                        </tr>

                        <!-- end for and if -->
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            {% if messages %}
                <p>File không thể làm sạch hoặc đã bị chặn</p>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% if is_paginated %}
                <div class="d-flex flex-row align-content-center justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                </li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active page-item"><span class="page-link">{{ i }} <span
                                            class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                </li>
                            {% else %}
                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}