{% extends 'index.html' %}

{% block content2 %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <input type="submit" name="Upload">
    </form>
{% endblock %}